html, body 
{ 
   margin: 0; 
   padding: 0; 
   min-height: 100%; 
   height: 100%; 
   width: 100%;
   color:white;

   background: rgb(175,216,243); /* Old browsers */
   background: -moz-radial-gradient(center, ellipse cover, rgba(175,216,243,1) 0%, rgba(123,190,235,1) 17%, rgba(70,165,228,1) 33%, rgba(0,116,194,1) 67%, rgba(0,91,152,1) 83%, rgba(0,65,108,1) 100%); /* FF3.6-15 */
   background: -webkit-radial-gradient(center, ellipse cover, rgba(175,216,243,1) 0%,rgba(123,190,235,1) 17%,rgba(70,165,228,1) 33%,rgba(0,116,194,1) 67%,rgba(0,91,152,1) 83%,rgba(0,65,108,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: radial-gradient(ellipse at center, rgba(175,216,243,1) 0%,rgba(123,190,235,1) 17%,rgba(70,165,228,1) 33%,rgba(0,116,194,1) 67%,rgba(0,91,152,1) 83%,rgba(0,65,108,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afd8f3', endColorstr='#00416c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a
{
   color: rgb(42,56,130);
}

li
{
   font-size: 18px;
}

.li-depth-0
{
	margin-bottom: 20px;
}